label{
    height: auto;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    /*padding: 10px;*/
    border-left: 5px blue solid ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input[type="radio"]{
    appearance: none;
}

label input[type="radio"]:selected + label{
   color: blueviolet;
}
